<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS links remain the same -->
    <link href="{{ url_for('static',filename='assets/css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static',filename='assets/css/icons.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{ url_for('static',filename='assets/css/app.min.css')}}" rel="stylesheet" type="text/css" />
    <title>Add Patient Details</title>
</head>

<body>

    <div id="wrapper">

        <!-- Topbar Start -->
        <nav>
            <div class="navbar-custom">
                <ul class="list-unstyled topnav-menu float-right mb-0">
                    <li class="d-none d-sm-block">
                        <form class="app-search">
                            <div class="app-search-box">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search...">
                                    <div class="input-group-append">
                                        <button class="btn" type="submit">
                                            <i class="fe-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </li>

                    <li class="dropdown notification-list">
                        <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light"
                            data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            <!-- Placeholder for user data -->
                            <img src="{{ url_for('static',filename='assets/images/users/user_placeholder.jpg')}}" alt="User" class="rounded-circle">
                            <span class="pro-user-name ml-1">
                                User Name <i class="mdi mdi-chevron-down"></i>
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right profile-dropdown">
                            <!-- Placeholder for user-related actions -->
                            <a href="#" class="dropdown-item notify-item">
                                <i class="fe-log-out"></i>
                                <span>Logout</span>
                            </a>
                        </div>
                    </li>
                </ul>

                <!-- LOGO -->
                <div class="logo-box">
                    <a href="/" class="logo text-center">
                        <span class="logo-lg">
                            <img src="{{ url_for('static',filename='assets/images/medvision3.png')}}" alt="MedVision Logo" height="65" width="250">
                        </span>
                        <span class="logo-sm">
                            <img src="{{ url_for('static',filename='assets/images/medvision3.png')}}" alt="MedVision Logo" height="40" width="80">
                        </span>
                    </a>
                </div>

                <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
                    <li>
                        <button class="button-menu-mobile waves-effect waves-light">
                            <i class="fe-menu"></i>
                        </button>
                    </li>

                    <li class="dropdown d-none d-lg-block">
                        <a class="nav-link dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#"
                            role="button" aria-haspopup="false" aria-expanded="false">
                            Create New
                            <i class="mdi mdi-chevron-down"></i>
                        </a>
                        <div class="dropdown-menu">
                            <!-- Menu items for creating new entries -->
                            <a href="/add_emp" class="dropdown-item">
                                <i class="fe-users mr-1"></i>
                                <span>Employee</span>
                            </a>
                            <a href="/add_patient" class="dropdown-item">
                                <i class="fe-activity mr-1"></i>
                                <span>Patient</span>
                            </a>
                            <a href="his_admin_add_medical_record.html" class="dropdown-item">
                                <i class="fe-list mr-1"></i>
                                <span>Medical Report</span>
                            </a>
                            <!-- More menu items can be added as needed -->
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- end Topbar -->

        <!-- ========== Left Sidebar Start ========== -->
        <aside>
            <!-- Include sidebar -->
            <div class="left-side-menu">

                <div class="slimscroll-menu">

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">

                        <ul class="metismenu" id="side-menu">

                            <li class="menu-title">Navigation</li>

                            <li>
                                <a href="/">
                                    <i class="fe-airplay"></i>
                                    <span> Dashboard </span>
                                </a>

                            </li>

                            <li>
                                <a href="javascript: void(0);">
                                    <i class="fab fa-accessible-icon "></i>
                                    <span> Patients </span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li>
                                        <a href="/add_patient">Register Patient</a>
                                    </li>
                                    <li>
                                        <a href="his_admin_manage_patient.html">Manage Patients</a>
                                    </li>
                                    <hr>
                                    <li>
                                        <a href="his_admin_discharge_patient.html">Discharge Patients</a>
                                    </li>
                                    <li>
                                        <a href="his_admin_patient_transfer.html">Patient Transfers</a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href="javascript: void(0);">
                                    <i class="mdi mdi-doctor"></i>
                                    <span> Employees </span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li>
                                        <a href="/add_emp">Add Employee</a>
                                    </li>
                                    <li>
                                        <a href="his_admin_manage_employee.html">Manage Employees</a>
                                    </li>
                                    <hr>
                                    <li>
                                        <a href="his_admin_assaign_dept.html">Assign Department</a>
                                    </li>
                                    <li>
                                        <a href="his_admin_transfer_employee.html">Transfer Employee</a>
                                    </li>
                                </ul>
                            </li>


                            <li>
                                <a href="javascript: void(0);">
                                    <i class="fe-share"></i>
                                    <span> Reporting </span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li>
                                        <a href="his_admin_inpatient_records.html">InPatient Records</a>
                                    </li>
                                    <li>
                                        <a href="his_admin_outpatient_records.html">OutPatient Records</a>
                                    </li>
                                    <li>
                                        <a href="his_admin_employee_records.html">Employee Records</a>
                                    </li>
                                    <li>
                                        <a href="his_admin_medical_records.html">Medical Records</a>
                                    </li>

                                </ul>
                            </li>

                            <li>
                                <a href="javascript: void(0);">
                                    <i class="fe-file-text"></i>
                                    <span> Medical Records </span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li>
                                        <a href="his_admin_add_medical_record.html">Add Medical Record</a>
                                    </li>
                                    <li>
                                        <a href="his_admin_manage_medical_record.html">Manage Medical Records</a>
                                    </li>

                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- End Sidebar -->

                    <div class="clearfix"></div>

                </div>
                <!-- Sidebar -left -->

            </div>
        </aside>
        <!-- Left Sidebar End -->

{% block body %} {% endblock %}