<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Include CSS and other head elements -->
    <title>Update Patient Details</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/css/icons.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='assets/css/app.min.css')}}">
    <script>
        function validateForm() {
            // Get form inputs
            var fname = document.forms["patientForm"]["pat_fname"].value;
            var lname = document.forms["patientForm"]["pat_lname"].value;
            var dob = document.forms["patientForm"]["pat_dob"].value;
            var age = document.forms["patientForm"]["pat_age"].value;
            var addr = document.forms["patientForm"]["pat_addr"].value;
            var phone = document.forms["patientForm"]["pat_phone"].value;
            var ailment = document.forms["patientForm"]["pat_ailment"].value;
            var type = document.forms["patientForm"]["pat_type"].value;
            var gender = document.forms["patientForm"]["pat_gender"].value;

            var letters = /^[A-Za-z]+$/;
            var dobRegex = /^\d{2}\/\d{2}\/\d{4}$/;
            var phoneRegex = /^\d{10}$/;
            var ageRegex = /^\d{1,3}$/;

            if (fname == "") {
                alert("First name must be filled out");
                return false;
            }
            if (!fname.match(letters)) {
                alert("First name must contain only letters");
                return false;
            }
            if (lname == "") {
                alert("Last name must be filled out");
                return false;
            }
            if (!lname.match(letters)) {
                alert("Last name must contain only letters");
                return false;
            }
            if (dob == "") {
                alert("Date of Birth must be filled out");
                return false;
            }
            if (!dob.match(dobRegex)) {
                alert("Invalid Date of Birth format. Please use DD/MM/YYYY");
                return false;
            }
            // Check if the entered date is valid
            var parts = dob.split('/');
            var day = parseInt(parts[0], 10);
            var month = parseInt(parts[1], 10);
            var year = parseInt(parts[2], 10);

            if (year < 1900 || year > new Date().getFullYear()) {
                alert("Invalid year. Please enter a year between 1900 and " + new Date().getFullYear());
                return false;
            }

            var maxDay = new Date(year, month, 0).getDate();
            if (day <= 0 || day > maxDay) {
                alert("Invalid day for the selected month/year");
                return false;
            }

            if (month <= 0 || month > 12) {
                alert("Invalid month");
                return false;
            }

            var currentDate = new Date();
            var selectedDate = new Date(year, month - 1, day);
            if (selectedDate > currentDate) {
                alert("Date of Birth cannot be in the future");
                return false;
            }

            if (!age.match(ageRegex)) {
                alert("Age must be a number between 1 and 3 digits");
                return false;
            }
            if (addr == "") {
                alert("Address must be filled out");
                return false;
            }
            if (phone == "") {
                alert("Mobile number must be filled out");
                return false;
            }
            if (!phone.match(phoneRegex)) {
                alert("Mobile number must be 10 digits");
                return false;
            }
            if (type == "Choose") {
                alert("Please select patient type");
                return false;
            }

            if (gender == "Choose") {
                alert("Please select patient gender");
                return false;
            }
            return true;
        }
    </script>
</head>

<body>

    <!-- Begin page -->
    <div id="wrapper">

        <!-- Topbar Start -->
        <nav>
            <div class="navbar-custom">
    
                <!-- LOGO -->
                <div class="logo-box">
                    <a href="/" class="logo text-center">
                        <span class="logo-lg">
                            <img src="{{ url_for('static',filename='assets/images/medvision3.png')}}"
                                alt="MedVision Logo" height="65" width="250">
                        </span>
                        <span class="logo-sm">
                            <img src="{{ url_for('static',filename='assets/images/medvision3.png')}}"
                                alt="MedVision Logo" height="40" width="80">
                        </span>
                    </a>
                </div>

                <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
                    <li>
                        <button class="button-menu-mobile waves-effect waves-light">
                            <i class="fe-menu"></i>
                        </button>
                    </li>

                    <li class="dropdown d-none d-lg-block">
                        <a class="nav-link dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#"
                            role="button" aria-haspopup="false" aria-expanded="false">
                            Create New
                            <i class="mdi mdi-chevron-down"></i>
                        </a>
                        <div class="dropdown-menu">
                            <!-- Menu items for creating new entries -->
                            <a href="/add_emp" class="dropdown-item">
                                <i class="fe-users mr-1"></i>
                                <span>Employee</span>
                            </a>
                            <a href="/add_patient" class="dropdown-item">
                                <i class="fe-activity mr-1"></i>
                                <span>Patient</span>
                            </a>
                            <a href="/medical_record" class="dropdown-item">
                                <i class="fe-list mr-1"></i>
                                <span>Medical Report</span>
                            </a>
                            <!-- More menu items can be added as needed -->
                        </div>
                    </li>
                </ul>
            </div>

        </nav>
        <!-- end Topbar -->

        <!-- Left Sidebar Start -->
        <aside>
            <!-- Include sidebar -->
            <div class="left-side-menu">

                <div class="slimscroll-menu">

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">

                        <ul class="metismenu" id="side-menu">

                            <li class="menu-title">Navigation</li>

                            <li>
                                <a href="/">
                                    <i class="fe-airplay"></i>
                                    <span> Dashboard </span>
                                </a>

                            </li>

                            <li>
                                <a href="javascript: void(0);">
                                    <i class="fab fa-accessible-icon "></i>
                                    <span> Patients </span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li>
                                        <a href="/add_patient">Register Patient</a>
                                    </li>
                                    <li>
                                        <a href="/manage_patient">Manage Patients</a>
                                    </li>
                                    <hr>
                                </ul>
                            </li>

                            <li>
                                <a href="javascript: void(0);">
                                    <i class="mdi mdi-doctor"></i>
                                    <span> Employees </span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li>
                                        <a href="/add_emp">Add Employee</a>
                                    </li>
                                    <li>
                                        <a href="/manage_employee">Manage Employees</a>
                                    </li>
                                </ul>
                            </li>


                            <li>
                                <a href="javascript: void(0);">
                                    <i class="fe-share"></i>
                                    <span> Reporting </span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li>
                                        <a href="/inpatient">InPatient Records</a>
                                    </li>
                                    <li>
                                        <a href="/outpatient">OutPatient Records</a>
                                    </li>
                                    <li>
                                        <a href="/employee_record">Employee Records</a>
                                    </li>

                                </ul>
                            </li>

                            <li>
                                <a href="javascript: void(0);">
                                    <i class="fe-file-text"></i>
                                    <span> Medical Records </span>
                                    <span class="menu-arrow"></span>
                                </a>
                                <ul class="nav-second-level" aria-expanded="false">
                                    <li>
                                        <a href="/add_medical_record">Add Medical Record</a>
                                    </li>
                                    <li>
                                        <a href="/manage_medical_record">Manage Medical Records</a>
                                    </li>

                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- End Sidebar -->

                    <div class="clearfix"></div>

                </div>
                <!-- Sidebar -left -->

            </div>
        </aside>
        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page">
            <div class="content">

                <!-- Start Content-->
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Patients</a></li>
                                        <li class="breadcrumb-item active">Manage Patients</li>
                                    </ol>
                                </div>
                                <h4 class="page-title">Update Patient Details</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    <!-- Form row -->
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="header-title">Fill all fields</h4>
                                    <!-- Add Patient Form -->
                                    <form method="post" name="patientForm" onsubmit="return validateForm()">
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="inputEmail4" class="col-form-label">First Name</label>
                                                <input type="text" required="required" name="pat_fname"
                                                    value="{{ patient.pat_fname }}" class="form-control"
                                                    id="inputEmail4" placeholder="Patient's First Name">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="inputPassword4" class="col-form-label">Last Name</label>
                                                <input required="required" type="text" name="pat_lname"
                                                    value="{{ patient.pat_lname }}" class="form-control"
                                                    id="inputPassword4" placeholder="Patient`s Last Name">
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-5">
                                                <label for="inputEmail4" class="col-form-label">Date Of Birth</label>
                                                <input type="text" required="required" name="pat_dob"
                                                    value="{{ patient.pat_dob }}" class="form-control" id="inputEmail4"
                                                    placeholder="DD/MM/YYYY">
                                            </div>
                                            <div class="form-group col-md-5">
                                                <label for="inputPassword4" class="col-form-label">Age</label>
                                                <input required="required" type="text" name="pat_age"
                                                    value="{{ patient.pat_age }}" class="form-control"
                                                    id="inputPassword4" placeholder="Patient`s Age">
                                            </div>
                                            <div class="form-group col-md-2">
                                                <label for="inputPassword4" class="col-form-label">Patient`s Number</label>
                                                <input required="required" readonly type="text" name="pat_number"
                                                    value="{{ patient.pat_number }}" class="form-control"
                                                    id="inputPassword4" placeholder="Patient`s Number">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-8">
                                                <label for="inputAddress" class="col-form-label">Address</label>
                                                <input required="required" type="text" class="form-control"
                                                    name="pat_addr" value="{{ patient.pat_addr }}" id="inputAddress"
                                                    placeholder="Patient's Addresss">
                                            </div>

                                            <div class="form-group col-md-4">
                                                <label for="inputState" class="col-form-label">Patient's Gender</label>
                                                <select id="inputState" required="required" name="pat_gender"
                                                    class="form-control">
                                                    <option>Choose</option>
                                                    <option value="Male" {% if patient.pat_gender=="Male" %}selected{%
                                                        endif %}>Male</option>
                                                    <option value="Female" {% if patient.pat_gender=="Female"
                                                        %}selected{% endif %}>Female</option>
                                                    <option value="Other" {% if patient.pat_gender=="Other" %}selected{%
                                                        endif %}>Other</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-4">
                                                <label for="inputCity" class="col-form-label">Mobile Number</label>
                                                <input required="required" type="text" name="pat_phone"
                                                    value="{{ patient.pat_phone }}" class="form-control" id="inputCity"
                                                    placeholder="Patient's Mobile Number">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="inputCity" class="col-form-label">Ailment</label>
                                                <input required="required" type="text" name="pat_ailment"
                                                    value="{{ patient.pat_ailment }}" class="form-control"
                                                    id="inputCity" placeholder="Patient's Ailment">
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label for="inputState" class="col-form-label">Patient's Type</label>
                                                <select id="inputState" required="required" name="pat_type"
                                                    class="form-control">
                                                    <option>Choose</option>
                                                    <option value="InPatient" {% if patient.pat_type=="InPatient"
                                                        %}selected{% endif %}>InPatient</option>
                                                    <option value="OutPatient" {% if patient.pat_type=="OutPatient"
                                                        %}selected{% endif %}>OutPatient</option>
                                                </select>
                                            </div>
                                        </div>

                                        <button type="submit" name="update_patient" class="ladda-button btn btn-success"
                                            data-style="expand-right">Update Patient</button>

                                    </form>
                                    <!-- End Patient Form -->
                                </div> <!-- end card-body -->
                            </div> <!-- end card -->
                        </div> <!-- end col -->
                    </div> <!-- end row -->

                </div> <!-- container -->

            </div> <!-- content -->

            <!-- Footer Start -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <h4>MedVision</h4>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- end Footer -->

        </div> <!-- content-page -->

        <!-- Right bar overlay -->
        <div class="rightbar-overlay"></div>

        <!-- Vendor js -->
        <script src="{{ url_for('static',filename='assets/js/vendor.min.js')}}"></script>

        <!-- App js -->
        <script src="{{ url_for('static',filename='assets/js/app.min.js')}}"></script>

        <!-- Loading buttons js -->
        <script src="{{ url_for('static',filename='assets/libs/ladda/spin.js')}}"></script>
        <script src="{{ url_for('static',filename='assets/libs/ladda/ladda.js')}}"></script>

        <!-- Buttons init js -->
        <script src="{{ url_for('static',filename='assets/js/pages/loading-btn.init.js')}}"></script>

</body>

</html>